@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

:root {
    --pen-color: #000000;
    --color-1: #ff0266;
    --color-2: #0336ff;
    --color-3: #ffde03;
    --color-dark: #000000;
    --color-light: #ffffff;
}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'VT323', sans-serif;
    font-size: 1.2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header, 
.footer {
    background-color: var(--color-2);
    color: var(--color-light);
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 3vw; 
}

.content {
    padding-right: 4vw;
    margin: 2vw auto;
    border-radius: 2vw;
    background-color: var(--color-1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    margin: 4vw;
    width: 30vw;
    height: 30vw;
    cursor: none;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: auto;
}

.pixel {
    background-color: var(--color-light);
    border: 1px solid rgba(0, 0, 0, 0.2);
    flex: auto;
    flex-shrink: 0;
}

.pixel:hover {
    background-color: var(--pen-color);
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.options {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.options button:hover {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.option, 
.size {
    width: 8vw;
    height: 3vw;
}

.option {
    font: inherit;
    font-size: 1.4vw;
    background-color: var(--color-3);
    border: none;
    border-radius: 0.2vw;
}

.size {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.size p {
    margin: 0;
}

.selected {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.rainbow {
    animation: rainbow-animation 8s infinite;
}

@keyframes rainbow-animation {
    0%  {color: red;}
    15% {color:orange;}
    30% {color:yellowgreen;}
    45% {color:green;}
    60% {color: blue;}
    75% {color: purple;}
    90% {color: violet;}
    100%{color: red;}
}

.pepe {
    width: 16vw;
    height: auto;
    position: absolute;
    z-index: -1;
    right: 11vw;
    animation: pepe-animation 10s infinite ease-in-out;
}

@keyframes pepe-animation {
    0%  {transform: rotate(90deg) translateY(14vw);}
    70% {transform: rotate(90deg);}
    90% {transform: rotate(90deg);}
    100%{transform: rotate(90deg) translateY(14vw);}
}

.github-icon {
    width: 2vw;
    height: 2vw;
    transition: 0.4s;
}

.github-icon:hover,
.github-icon:focus {
    transform: scale(1.4);
}